
/*--------AGENDA CONTACTOS CIN-------*/
img {
  height: 50px;
}
#grid-foto{
  border-left: 1px solid rgba(75, 70, 70, 0.8);
}
.grid-agenda { 
  display: grid;
  grid-template-columns: 100px auto auto 12% auto 160px;
  padding: 2px;
}
.grid-interno { 
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto ;
  background-color: #E9EDC9;
}
.grid-item-titulos {  
  background-color: #CCD5AE;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.grid-item-b {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  margin: auto;
  height: 70px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#agenda-espaciado{
  margin: 20px;
}

/*---------------------------*/

